<po-page-list p-title="Product List" [p-actions]="pageActions">
    @if (isLoading) {
        <po-loading-overlay [p-screen-lock]="true"></po-loading-overlay>
    }
    <po-list-view
        [p-items]="productList"
        p-property-title="nome"

    >
        <ng-template p-list-view-content-template let-product>
            <div class="po-row">
                <po-info class="po-sm-10 po-md-2 po-lg-2 po-xl-2 " p-label="Codigo" [p-value]="product.codigo" />
                <po-info class="po-sm-2 po-md-2 po-lg-2 po-xl-2 " p-label="Categoria" [p-value]="product.categoria" />
                <po-info class="po-sm-2 po-md-2 po-lg-2 po-xl-2 " p-label="UM" [p-value]="product.um" />
                <po-info class="po-sm-2 po-md-2 po-lg-2 po-xl-2 " p-label="Preco" [p-value]="(product.preco | currency:'BRL') ?? ''" />
                <div class="po-sm-12 po-md-2 po-lg-2 po-xl-2 po-list-view-actions">
                    <po-button p-label="Exibir detalhes" p-kind="tertiary" (p-click)="toggleDetalhes(product)"></po-button>
                    <po-button p-icon="an an-shopping-cart" p-label="add" p-kind="tertiary"></po-button>
                </div>
            </div>

            @if (product.mostrarDetalhes) {
                <div class="po-row">
                    <po-number
                        class="po-sm-6 po-md-3 po-lg-3 po-xl-3"
                        p-label="Quantidade"
                        [(ngModel)]="product.quantidade"
                        [ngModelOptions]="{standalone: true}"
                    ></po-number>
                    <div class="po-sm-6 po-md-3 po-lg-3 po-xl-3 po-list-view-add-button">
                        <po-button p-label="Adicionar" p-kind="primary" (p-click)="adicionarItem(product)"></po-button>
                    </div>
                    @if (product.quantidadeErro) {
                        <span class="po-sm-12 po-list-view-error">{{ product.quantidadeErro }}</span>
                    }
                </div>
            }
        </ng-template>
    </po-list-view>

    <po-modal #cartModal p-title="Carrinho de compras">
        @if (cartItems.length === 0) {
            <p>Nenhum item adicionado ao carrinho.</p>
        } @else {
            <po-table
                [p-items]="cartItems"
                [p-columns]="cartColumns"
            ></po-table>
            <p class="po-cart-total"><strong>Total: {{ cartTotalValor | currency:'BRL' }}</strong></p>
        }
    </po-modal>

</po-page-list>
